Azure/DataFactory/pipeline/Add to History - Process Type 2.json
{
	"name": "Add to History - Process Type 2",
	"properties": {
		"description": "Import data into parquet files in Azure Data Lake Gen 2 Storage.\n\nUse a For Each loop operating in parallel mode.\n\nFor debugging purposes, you can simulate \n JSON array with:\n \n[{\"ProductNumber\" : \"HL-U509\"},{\"ProductNumber\" : \"FR-R92R-62\"}]",
		"activities": [
			{
				"name": "Process Entity",
				"description": "Process each individual Entity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Entities to process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Entities to process').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Indicate Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Import Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Process].up_UpdateEntityDiagnostics",
								"storedProcedureParameters": {
									"ExecutionDuration": {
										"value": {
											"value": "@activity('Import Data').Duration",
											"type": "Expression"
										},
										"type": "String"
									},
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('Import Data').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Result": {
										"value": "Success",
										"type": "String"
									},
									"ExecutionEndTime": {
										"value": {
											"value": "@activity('Import Data').ExecutionEndTime",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Indicate Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Import Data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Process].up_UpdateEntityDiagnostics",
								"storedProcedureParameters": {
									"ExecutionDuration": {
										"value": {
											"value": "@activity('Import Data').Duration",
											"type": "Expression"
										},
										"type": "String"
									},
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('Import Data').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Errors": {
										"value": {
											"value": "@concat('Error in Data Factory ''', pipeline().DataFactory, ''' | Pipeline  ''', pipeline().Pipeline, ''' | ', activity('Import Data').output.errors[0].Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"Result": {
										"value": "Failure",
										"type": "String"
									},
									"ExecutionEndTime": {
										"value": {
											"value": "@activity('Import Data').ExecutionEndTime",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Import Data",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ParquetBlobFile",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetBlobFileHistory",
									"type": "DatasetReference",
									"parameters": {
										"Environment": {
											"value": "@pipeline().parameters.Environment",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Entities to process",
				"description": "Get the Entities to process in this pipeline.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Current Process Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[Process].up_GetEntitiesToProcess",
						"storedProcedureParameters": {
							"EntityGroupKeyList": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EntityGroupKeyList",
									"type": "Expression"
								}
							},
							"ProcessTypeKey": {
								"type": "String",
								"value": {
									"value": "@variables('ProcessTypeKey')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "EntitiesToProcess",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Current Process Date",
				"description": "Set the CurrentProcessDate variable.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Date to Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "CurrentProcessDate",
					"value": {
						"value": "@activity('Get Date to Process').output.firstRow.CurrentProcessDate\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Date to Process",
				"description": "Read Control Table to get Date To Process for.",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[up_GetProcessDates]"
					},
					"dataset": {
						"referenceName": "DateToProcessFor",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"EntityGroupKeyList": {
				"type": "String",
				"defaultValue": "1"
			},
			"Environment": {
				"type": "String",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"CurrentProcessDate": {
				"type": "String"
			},
			"ProcessTypeKey": {
				"type": "String",
				"defaultValue": "2"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}