Azure/DataFactory/pipeline/Process Type 1 - Import Data to Blob Storage.json
{
	"name": "Process Type 1 - Import Data to Blob Storage",
	"properties": {
		"description": "Import data into parquet files in Azure Blob Storage (preferably Data Lake Gen 2).\n\nUse a For Each loop operating in parallel mode.\n\nFor debugging purposes, you can simulate \n JSON array with:\n \n[{\"ProductNumber\" : \"HL-U509\"},{\"ProductNumber\" : \"FR-R92R-62\"}]",
		"activities": [
			{
				"name": "Process Entity",
				"description": "Process each individual Entity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Entities to process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Entities to process').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Import Data",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderQuery": {
										"value": "@if(equals(item().IsIncrementalLoad, 'Y'), replace(item().SqlToExecute, '@CurrentDataDate', activity('Get Data Dates').output.firstRow.CurrentDataDate), item().SqlToExecute)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "SourceTable",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetBlobFile",
									"type": "DatasetReference",
									"parameters": {
										"Scope": {
											"value": "@pipeline().parameters.Scope",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Indicate Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Import Data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Process].up_UpdateEntityDiagnostics",
								"storedProcedureParameters": {
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('Import Data').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Result": {
										"value": "Success",
										"type": "String"
									},
									"ExecutionMessage": {
										"value": {
											"value": "@concat(item().SourceSystem, '.', item().EntityName, ' - Rows read: ', activity('Import Data').output.rowsRead, ' | Rows written: ',  activity('Import Data').output.rowsCopied)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Indicate Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Import Data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Process].up_UpdateEntityDiagnostics",
								"storedProcedureParameters": {
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('Import Data').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ExecutionMessage": {
										"value": {
											"value": "@concat('Error in Data Factory ''', pipeline().DataFactory, ''' | Pipeline  ''', pipeline().Pipeline, ''' | Entity \"', item().SourceSystem, '.', item().EntityName, '\" | ', activity('Import Data').output.errors[0].Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"Result": {
										"value": "Failure",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Entities to process",
				"description": "Get the Entities to process in this pipeline.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Data Dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[Process].up_GetEntitiesToProcess",
						"storedProcedureParameters": {
							"EntityGroupKeyList": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EntityGroupKeyList",
									"type": "Expression"
								}
							},
							"ProcessTypeKey": {
								"type": "String",
								"value": {
									"value": "@variables('ProcessTypeKey')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "EntitiesToProcess",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Data Dates",
				"description": "Read Control Table to get Current and Previous Data Dates",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[up_GetDataDates]",
						"storedProcedureParameters": {
							"DatabaseEntityName": {
								"type": "String",
								"value": null
							}
						}
					},
					"dataset": {
						"referenceName": "DateToProcessFor",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"EntityGroupKeyList": {
				"type": "String",
				"defaultValue": "1"
			},
			"Scope": {
				"type": "String",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"CurrentProcessDate": {
				"type": "String"
			},
			"ProcessTypeKey": {
				"type": "String",
				"defaultValue": "1"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}