Azure/DataFactory/pipeline/Process Type 3 - Merge Changeset into ODS.json
{
	"name": "Process Type 3 - Merge Changeset into ODS",
	"properties": {
		"activities": [
			{
				"name": "Process Entity",
				"description": "Process each individual Entity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Entities to process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Entities to process').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Indicate Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Merge Changeset",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Process].up_UpdateEntityDiagnostics",
								"storedProcedureParameters": {
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('Merge Changeset').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Result": {
										"value": "Success",
										"type": "String"
									},
									"ExecutionMessage": {
										"value": {
											"value": "@concat('Stored procedure ', item().SourceSystem, '.up_Merge_', item().EntityName, ' successfully executed')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Indicate Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Merge Changeset",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Process].up_UpdateEntityDiagnostics",
								"storedProcedureParameters": {
									"EntityKey": {
										"value": {
											"value": "@item().EntityKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ExecutionStartTime": {
										"value": {
											"value": "@activity('Merge Changeset').ExecutionStartTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ExecutionMessage": {
										"value": {
											"value": "@concat('Error in Data Factory ''', pipeline().DataFactory, ''' | Pipeline  ''', pipeline().Pipeline, ''' | Stored Procedure \"', item().SourceSystem, '.up_Merge_', item().EntityName, '\" | ', activity('Merge Changeset').output.errors[0].Message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"Result": {
										"value": "Failure",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Merge Changeset",
							"type": "SqlServerStoredProcedure",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(item().SourceSystem, '.up_Merge_', item().EntityName)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQLDWDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update DatabaseEntity for Data Date Processed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Indicate Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[Process].[up_UpdateDatabaseEntity]",
								"storedProcedureParameters": {
									"DatabaseEntityName": {
										"value": {
											"value": "@concat(item().SourceSystem, '.', item().EntityName)",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataDate": {
										"value": {
											"value": "@activity('Get Data Dates').output.firstRow.CurrentDataDate",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ControlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Entities to process",
				"description": "Get the Entities to process in this pipeline.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Data Dates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[Process].up_GetEntitiesToProcess",
						"storedProcedureParameters": {
							"EntityGroupKeyList": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EntityGroupKeyList",
									"type": "Expression"
								}
							},
							"ProcessTypeKey": {
								"type": "String",
								"value": {
									"value": "@variables('ProcessTypeKey')",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "EntitiesToProcess",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Data Dates",
				"description": "Read Control Table to get Current and Previous Data Dates",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[up_GetDataDates]",
						"storedProcedureParameters": {
							"DatabaseEntityName": {
								"type": "String",
								"value": null
							}
						}
					},
					"dataset": {
						"referenceName": "DateToProcessFor",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"EntityGroupKeyList": {
				"type": "String",
				"defaultValue": "1"
			},
			"Scope": {
				"type": "String",
				"defaultValue": "dev"
			}
		},
		"variables": {
			"ProcessTypeKey": {
				"type": "String",
				"defaultValue": "3"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}